{% extends 'base.html' %}

    {% block content %}
    <body class="sign_up_body">
    <h1 class="sign_up">Sign up</h1>
    <form action="/users" method="POST" class="sign_up">
        <label for="" class="info">First Name:</label>
        <input type="text" name="first_name" class="items">

        <label for="" class="info">Last Name:</label>
        <input type="text" name="last_name" class="items">

        <label for="" class="info">Email:</label>
        <input type="text" name="email" class="items">

        <label for="" class="info">Password:</label>
        <input type="password" name="password" class="items">
        
        <button>Sign up</button>

    </form>
    </body>
    {% endblock  %}